*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: #222222;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: bold;
}
.slider {
    width: 50%;
    margin: 10px auto;
}

.slick-slide {
  margin: 0px 20px;
}
.tour-slider .slick-slide{
    margin: 0px;
}
.tour-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    border: 1px solid #2c4f73;
    outline: none;
    background: white;
    content: '';
}
.tour-slider .slick-dots li button:before {
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.tour-slider .slick-dots li.slick-active button:before{
    font-size: 0px;
    opacity: 1;
    background: #2c4f73;
    font-size: 0px;
}
.tour-slider .slick-dots li {
    width: 0px;
     height: 0px;
     margin: 0 10px;
}
.tour-slider .slick-active {
    opacity: 1;
  }
  
  .slick-current .Featured-slide img{
      border: 2px solid #e3e3e3;
      box-shadow: none;

  }
  .slick-current .Featured-slide .slide-info{
   display: block;
}
.Featured-slider .slick-list.draggable {
    z-index: 0;
}
.Featured-slider .slick-prev {
    left: 1px;   
}

.Featured-slider .slick-next {
    right: 8px;
}
.Featured-slider
.slick-prev:before{
    content:url(../Images/chevronleft.png);
}
.Featured-slider
.slick-next:before
{
content: url(../Images/chevronright.png);
}


.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0;
  display: none;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}
button ,a {
  cursor: pointer;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}
.header-left-icon ul{
    display: flex;
    justify-content: space-between;
    /* width: 300px; */
    align-items: center;
    gap: 20px;

}
.header-left-icon ul li{
  display: flex;
  align-items: center;
  gap:5px;
  justify-content: space-between;

}
.header-left-icon ul  li a span{
font-size: 14px;
}
.header-right-icon ul  li a span{
    font-size: 14px;
    }
.header-right-icon ul{
    display: flex;
    justify-content: space-between;
    /* width: 300px; */
    align-items: center;
   gap: 15px;
}
.header-right-icon ul li{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;

}
.small-device-menu{
    display: none;
}
 .small-device-menu a{
 width: 20px;
 height: 2px;
 background-color: #000;
} 


.bottom-header-container{
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 25px;
} 


.bottom-header-inner nav{
    display: flex;
    align-items: center;
    gap: 15px;

}
.bottom-header-inner {
    display: block;
}

.bottom-header-inners {
    display: none;
    top: 0;
    
}

.navbar-info{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    
}
.navbar-info li a{
    color: #fff;
}
.down-arrow{
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Banner */
.banner-section{
    position: relative;
   
}
.banner-background img {
    min-height:800px;
    object-fit: cover;
    max-height: 970px;
    
}
.banner-outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 780px;
}
.banner-inner{
    background-color: #000000db;
    border-radius: 5px;
    padding:  30px 0px;
    width: 100%;
}
.banner-heading h2{
      text-align: center;
      margin: 0px auto;
      font-size: 28px;
      color: #fff;
     
}
.banner-head{
    display: flex;
    text-align: center;
    margin: 20px auto 14px;
    width: 60%;
    gap: 10px;
    padding:5px;
    background-color:  #0000008f;
    border-radius: 5px;
    /* border-bottom: 1px solid #000000db; */
}

.property-btn{
    background-color: #fff;
    border-radius: 5px;
    color: #222222 !important;
}
.banner-head a{
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    color: #fff;
    padding: 14px 10px;
    width: 50%;
}
.banner-head a:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    
}
.banner-line{
    width: 100%;
    border-top: 1px solid #ffffff2e;
    margin-bottom: 18px;
}
.banner-details{
    padding: 0 20px;
}
.banner-info{
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: space-between;
    width: 100%;
    
}
.banner-dropdowns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
.rent{
    width: calc(50% - 5px);   
}
.beds{
    width: calc(50% - 5px);   
}
.dropdown-inner{
    background-color: #fff;
    border-radius: 5px;
    background-image: url(../Images/aroowdown2.png);;
    background-position: right 10px center;
    background-repeat: no-repeat;
}
select:focus {
    outline: none !important; 
}
.banner-arrow{
    padding-right: 10px;
}
.dropdown-inner select{
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
.dropdown-inner select{
    font-size: 20px;

}
.dropdown-map{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    background-image: url(../Images/pin.png);;
    background-position: right 10px center;
    background-repeat: no-repeat;
}
.dropdown-map input{
    width: 100%;
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-size:20px;
}
.dropdown-map input:focus{
    border: none;
    outline: none;
}
.find-btn button{
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: #2c4f73;
    color: white;
    font-size: 20px;
}
.area{
    background-color: #fff;
}
.banner-btn {
    width: 30%;
}
.banner-text{
    margin-top: 20px; 
}
.banner-text p a{
    color: #fff;
    width: 100%;
    line-height: 25px;
    font-size: 18px;
}
.banner-new{
    background-color: #f73131;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
}
.banner-search{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 0 5px;
}
.banner-advance{
    color: #f73131;
    margin-left:5px;
    font-size: 18px;
}
/* Service */
.service-section{
    position: relative;
    margin-top: -100px;
}
.service-inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.service-info a{
    width: 33%;
    border-radius: 5px;
}
.service-tru{
    background-color: #e5eff0;
    /* background-image: url(../Images/graphicss1.png);;
    background-position: right bottom;
    background-repeat: no-repeat; */
    border-radius: 5px;
    position: relative;
    min-height: 340px;
}
.service-search{
    background-color: #edf9ff;
    border-radius: 5px;
    position: relative;
    min-height: 340px;

}
.service-map{
    background-color: #e9f7f0;
    border-radius: 5px;
    position: relative;
    min-height: 340px;

}

.service-details {
    padding: 20px;
}

.service-details h2{
    font-size: 24px;
}
.service-tm{
    color: #f73131;
}
.service-new{
    display: flex;
    gap: 10px;
    align-items: center;
}
.service-details div p{
    margin-top: 10px;
    width: 75%;
}
.service-arrow p{
 font-size: 20px;
}
.service-arrow i{
 position: relative;
 top: 8px;
 color: #222222;
}
.service-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Tour-container */
.tour-section{
    margin-top: 60px;
}
.tour-inner{
    position: relative;
  
}
.tour-info{
    position: absolute;
    top:50%;
    left:8%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.tour-info h2 a{
    color: #fff;
    font-size: 32px;
}
.tour-info p a{
    color: #fff;
    font-size: 25px;
    }
    .tour-View{
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 10px 15px;
       width: 130px;
       color: #2c4f73;
       text-align: center;
       gap: 5px;
       border-radius: 5px;
    }
    .tour-View a{
        color: #2c4f73;
        text-align: center;
        font-size: 20px;
    }
    .tour-View span a img{
        text-align: center;
        margin-top: 5px;
    }
    .tour-img img {
        min-height: 400px;   
    }
.tour-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}
.dots-inner{
    width: 10px;
    height: 10px;
    border: 1px solid #2c4f73;
}
.col-dot{
    background-color:  #2c4f73 ;
}

/* Explore-container */
.Explore-inner {
    margin-top: 70px;
}
.Explore-heading{
  display: flex;
  gap: 10px;
  align-items: center;
}
.Explore-heading h2{
   font-size: 36px;
   font-weight: bold;
}
.Explore-heading a{
    color: #2c4f73;
    font-size: 18px;
}
.Explore-Details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
.Explore-Details-info{
    width: 25%;  
}
.Explore-Details-info a{
    margin-top: -20px;
    height: 100%;
}
.Explore-img img{
    border-radius: 5px;
    height: 100%;
}
.Explore-Details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Explore-img {
    height: 100%;
}
.Explore-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px #cfcfcf;
    background-color: #fff;
    margin: 0 20px;
    
    padding: 20px 10px;
    border-radius: 5px;
    height: 100%;
}
.Explore-info h2{
 font-size: 20px;
}
.Explore-info p{
    font-size: 14px;
    color: #797979;
   }

   /* Featured */
.Featured-inner{
    margin: 50px 0;
}
.Featured-heading{
    margin-bottom: 20px;
   }
.Featured-heading h2{
       font-size: 36px;
       text-align: center;
       margin: 10px auto;
   }
   .Featured-slider{
       display: flex;
       justify-content: space-between;
       width: 100%;
   }
   .Featured-slide{
       width: 25%;
   }
   .slide-info{
       display: none;
       text-align: center;
       margin-top: 20px;
       width: 200%;
       margin-left: -80px;
   }
   .slide-info h4 {
       margin: 10px 0px 5px 0;
     }
   .slide-info h4 a{
  font-size: 22px;
   }
   .slide-info p a{
    font-size: 18px;
     }
   .Featured-slide img{
    /* box-shadow: 0px 1px 5px 1px grey; */
   }

   /* Footer */
   .Footer-container{
       background-image: url(../Images/footer.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
   .Footer-inner{
       padding: 30px 0;
   }
   .Footer-list{
       display: flex;
       justify-content: space-between;
   }
   .About-us{
  width: 33.33%;
   }
   .footer-links h4{
       color: #fff;
       font-size: 24px;
       margin-bottom: 10px;
   }
   .links-info li a{
    color: #fff;
     margin-bottom: 10px;
   }
   .footer-links{
    width: 33.33%;
   }
   .Footer-left{
       width: 60%;
       display: flex;
       justify-content: space-between;
       gap: 10px;
   }
   .policy{
    width: 40%;
   }
   .About-us h2{
       color: #fff;
       font-size: 24px;
   }
   .About-us p{
    color: #fff;
    margin: 10px 0;
    font-size: 14px;
    width: 80%;
}
.About-us ul{
   display: flex;
   gap: 10px;
}
.policy p {
    color: #fff;
    font-size: 20px;
}
.policy p a{
    color: #fff;
    font-size: 20px;
}
.policy span{
    color: #6981a4;
    float: right;
    margin-top: 10px;  
}
.policy span a{
    color: #6981a4; 
}
.Go-Top{
    display: flex;
    float: right;
    gap: 5px;
    text-align: center;
    align-items: center;
}
.Go-Top a img{
 width: 10px;
}
.Go-Top a p{
    color: #fff;
   }
.Copy-text p{
    color: #6981a4;
    text-align: center;
    margin: 0 auto;
    border-top: 2px solid #ffffff2e;
    padding: 10px 0;
    margin-top: 40px;
   }

.links-info li{
 margin-bottom: 8px;
}
.links-info li a{
    font-size: 14px;
    
   }
   

   /* Media  */

   @media only screen and (max-width: 940px){
    .header-left-icon {
        display: none;
    }  
    .banner-outer {
        width: 70%;
       }
       .banner-head {
        width: 80%;
    }
   
.tour-info {
gap: 10px;
}
.tour-info h2 {
    font-size: 22px;
}
.tour-info p {
    font-size: 18px;
}

.Explore-heading h2 {
    font-size: 25px;
}

.slide-info {
     width: 300%;
}
.Footer-list {
    flex-wrap:wrap;
}
   }

   @media only screen and (max-width: 768px){
    .Explore-info h2 {
        font-size: 16px;
    }
    .Explore-info p {
        font-size: 12px;   
    }
    .Explore-info span{
        font-size: 13px;    
    }  
.Explore-Details {
  flex-wrap: wrap;
  gap: 0;
}
.Explore-Details-info {
    width: 50%;
    padding-right: 10px;
    margin-top: 10px;
}
    .Explore-heading h2 {
        font-size: 19px;
    }
    .header-navbar {
        display: none;
    }
    .banner-head {
        width: 80%;
    }
    .banner-outer {
 width: 100%;
}

.policy {
    margin: 10px 0;
    width: 100%;
}


.About-us p {
    width: 100%;
}
.Footer-left{
    width: 100%;
   }
   .policy{
    width: 100%;
   }
.policy span {
 float: left;
}
.service-inner {
    flex-wrap: wrap;
    width: 400px;
     margin: 0 auto;
  }
    .service-details div p {
     width: 80%;
 }
 .service-details {
     padding: 20px;
 }
  
.tour-info{
    left: 30px;
   }

}

   @media only screen and (max-width: 576px){
  .About-us{
 width: 100%;
  }
  .Footer-left{
    width: 100%;
    flex-wrap: wrap;
   }
  .footer-links{
    width: 100%;
    margin-top: 10px;
  }
    .slide-info {
        display: none;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .small-device-menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .header-right-icon {
        display: none;
    }
    .Explore-heading {
        flex-wrap: wrap;
    }
}
      

 
   @media only screen and (max-width: 480px){
    .banner-head {
        width: 100%;
        flex-wrap: wrap;
    }
    .banner-head a{
        width: 100%;
    }
    .banner-search {
        font-size: 16px;
    }
    .banner-new {
        padding: 2px 5px;
        border-radius: 10px;
    }
    
    .banner-inner h2 {
        
        font-size: 20px;

    }
    .banner-info {
     
        flex-wrap: wrap;
    }
    .banner-dropdowns {
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .rent {
        width: 100%;
        padding-right: 0px;
    }
    .beds {
        width: 100%;
        padding-left: 0px;
        margin: 10px 0;
    }
    .banner-btn {
        width: 100%;
    }
    .service-inner {
        width: 100%;
      }
      .service-tru {
        width: 100%;
    }
    
    .service-map {
        width: 100%;
    }
.service-search {
   width: 100%;
}
    .service-section {
        margin-top: 40px;
    }
    .service-details {
        padding: 20px;
    }

   .Featured-heading h2 {
    font-size: 23px;
   }
    .Explore-Details-info {
        width: 100%;
    }
   }